@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
background-color:#f7fafc ;
}


.row {
width: 100%;
max-width: 1200px;
margin: 0 auto;

}

/* NAV BAR */

nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 16px;
height: 70px;
background-color: #f7fafc;
}

.nav__img--wrapper {
display: flex;
justify-content: center;
align-items: center;
}

.h1__font {
font-size: 1.5rem;
font-weight: 900;
}



a {
color: #4a5568;
font-size: 20px;
text-decoration: none;
}


.logo__pic {
width: 50px;
border-radius: 4px;
}


ul {
display: flex;
}

li {
list-style-type: none;
padding-left: 20px;
/* margin: 0 48 0 0;*/
font-size: 14px;
font-weight: 600;
letter-spacing: 0.025em;
}

.order__list {
font-size: 14px;
margin: 0 24px;
padding: 0 0 4px;
}


.Log__in {
font-size: 14px;
margin: 0px 28px 0px 48px;
padding: 0 0 4;
}


.link__button {
background-color: rgb(100 21 255);
padding: 0.75rem 1.5rem;
border-radius: 9999px;
color: #f7fafc;
font-size: 14px;
}


/* HEADER SECTION */


.section__header {
width: 100%;
max-width: 1200px;
margin: 0 auto;
}



